{% extends "base.html" %}

{% block content %}
    {% if validlink %}
        <p>الرجاء إدخال كلمة السر الجديدة وتأكيدها</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">كلمة السر الجديدة:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">أكد كلمة السر:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="تغيير كلمة السر" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>تعذر تغيير كلمة السر</h1>
        <p>رابط تغيير كلمة السر غير صالح، غالبًا لأنه استخدم بالفعل. يرجى طلب رابط جديد.</p>
    {% endif %}
{% endblock %}
