<!doctype html>
<html dir="rtl" lang="ar">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <title>{% block title %}منظام{% endblock %}</title>
  </head>
  <body>
    <nav id="sidebar">
      <div id="logo"><a href="{% url 'index' %}">منظام</a></div>
      <ul id="usernav">
        {% if user.is_authenticated %}
        <li><b>مستخدم: {{ user.get_username }}</b></li>
        <li><a href="{% url 'logout'%}?next={{request.path}}">خروج</a></li>
        {% else %}
        <li><a href="{% url 'login'%}?next={{request.path}}">دخول</a></li>
        <li><a href="{% url 'signup'%}?next={{request.path}}">تسجيل</a></li>
        {% endif %}
      </ul>
      <ul id="navlinks">
        <li><a href="{% url 'bookmarks' %}">إشارات مرجعية</a></li>
        <li><a href="{% url 'tasks' %}">مهام</a></li>
        <li><a href="{% url 'tags' %}">وسوم</a></li>
      </ul>
    </nav>
    <main>
      {% block content %}{% endblock %}
      {% block pagination %}
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}" class="svgicon">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-square" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                          </svg>
                        </a>
                    {% endif %}
                    <span class="page-current">
                        الصفحة {{ page_obj.number }} من أصل {{ page_obj.paginator.num_pages }}
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}" class="svgicon">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                          </svg>
                        </a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
      {% endblock %}
    </main>
  </body>
</html>
